@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: black;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #F39C12;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #F39C12;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  cursor: pointer;
  background-color: #F39C12;
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.btn1 {border-radius: 10px;}

.box{
  margin-right: 300px;
  margin-left: 170px;
  margin-top: 90px;
  width: 70%;
  height: 500px;
  background-color: white;
  border-radius: 35px;
}
.agent{
  width: 30%;
  position: absolute;
  left: 15%;
  top: 25%;
}
